In [207]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from sklearn.decomposition import PCA

In [208]:
# import demographic info from all datasets

enigma=pd.read_csv('/Users/emilyolafson/GIT/ENIGMA/data/Behaviour_Information_ALL_April7_2022.csv', header=0)
hcpaging= pd.read_csv('/Users/emilyolafson/GIT/ENIGMA/data/HCPAGING/hcpaging_subject_info.csv', header=0)
hcpya = pd.read_csv('/Users/emilyolafson/GIT/ENIGMA/data/HCP_YA/hcp_subjinfo_age_sex.csv', header=0)

enigma.rename(columns={'BIDS_ID':'Subject', 'SEX':'sex', 'AGE':'age'},inplace=True)
hcpaging.rename(columns={'subjectid':'Subject'},inplace=True)
hcpya.rename(columns={'subjectid':'Subject'},inplace=True)

enigma_id = enigma.pop('Subject')
enigma_age = enigma.pop('age')
enigma_sex = enigma.pop('sex')

hcpaging_id = hcpaging.pop('Subject')
hcpaging_age = hcpaging.pop('age')
hcpaging_sex = hcpaging.pop('sex')

hcpya_id = hcpya.pop('Subject')
hcpya_age = hcpya.pop('age')
hcpya_sex = hcpya.pop('sex')
enigma_agesex=pd.DataFrame(data=np.transpose([enigma_id, enigma_age, enigma_sex]), columns=['Subject', 'age', 'sex'])
hcpaging_agesex=pd.DataFrame(data=np.transpose([hcpaging_id, hcpaging_age, hcpaging_sex]), columns=['Subject', 'age', 'sex'])
hcpya_agesex=pd.DataFrame(data=np.transpose([hcpya_id, hcpya_age, hcpya_sex]), columns=['Subject', 'age', 'sex'])

# import CT from all datasets

# ENIGMA
# load cortical thickness data to get headers (regions)
enigma_rh_thickness =  pd.read_table('/Users/emilyolafson/GIT/ENIGMA/data/FREESURFER_ENIGMA/aseg_aparc/aparc_rh_stats_thickness.txt', header=0)
enigma_lh_thickness =  pd.read_table('/Users/emilyolafson/GIT/ENIGMA/data/FREESURFER_ENIGMA/aseg_aparc/aparc_lh_stats_thickness.txt', header=0)
enigma_rh_thickness.rename(columns = {'rh.aparc.thickness':'Subject'},inplace=True)
enigma_lh_thickness.rename(columns = {'lh.aparc.thickness':'Subject'},inplace=True)

enigma_thickness = enigma_lh_thickness.merge(enigma_rh_thickness, on='Subject')

ids = enigma_thickness['Subject']
lst = [e[5:] for e in ids]
site = [e[0:4] for e in ids]
enigma_thickness['Subject']=lst

# HCPAGING
hcpaging_thickness =  pd.read_table('/Users/emilyolafson/GIT/ENIGMA/data/HCPAGING/hcpaging_aparc_thickness_stats.tsv', header=0)
ids = hcpaging_thickness['Subject']
lst = [e[:10] for e in ids]
hcpaging_thickness['Subject']=lst

# HCP YA
hcpya_thickness =  pd.read_table('/Users/emilyolafson/GIT/ENIGMA/data/HCP_YA/hcp_aparc_thickness_stats.tsv', header=0)

# merge age and sex columns together for plotting 
enigma_all = enigma_thickness.merge(enigma_agesex, on='Subject')
enigma_all['dataset']='ENIGMA'
enigma_all['site']=site
enigma_all=enigma_all.replace({'sex': {1: 'F', 2: 'M'}})
hcpaging_all = hcpaging_thickness.merge(hcpaging_agesex, on='Subject')
hcpaging_all['dataset']='HCP_AGING'
hcpaging_all['site']='HCP_AGING'
hcpya_all = hcpya_thickness.merge(hcpya_agesex, on='Subject')
hcpya_all['dataset']='HCP_YA'
hcpya_all['site']='HCP_YA'

# merge hcpaging and hcpya
hcp_controls=pd.concat((hcpaging_all,hcpya_all), axis=0)

hcp_controls.to_csv('/Users/emilyolafson/GIT/ENIGMA/data/FREESURFER_ENIGMA/hcp_aging_ya_thickness_datasetvar.csv')
hcp_controls['disease_status']=0
enigma_all['disease_status']=1

thickness_all = pd.concat((hcp_controls, enigma_all), axis=0)

thickness_all.to_csv('/Users/emilyolafson/GIT/ENIGMA/data/FREESURFER_ENIGMA/hcp_aging_ya_enigma_thickness_datasetvar.csv')

np.where(thickness_all['sex']==3)

thickness_all.iloc[2401]
# COMBAT

Subject                                 sub-r046s008
lh_bankssts_thickness                          2.557
lh_caudalanteriorcingulate_thickness            2.98
lh_caudalmiddlefrontal_thickness               2.641
lh_cuneus_thickness                            1.843
                                            ...
age                                             51.0
sex                                              3.0
dataset                                       ENIGMA
site                                            R046
disease_status                                     1
Name: 679, Length: 76, dtype: object

In [209]:
combat_thickness =  pd.read_table('/Users/emilyolafson/GIT/ENIGMA/data/FREESURFER_ENIGMA/hcp_aging_ya_thickness_datasetvar_COMBAT.csv', header=0, sep=',')

In [210]:
# get the mean and std for each age using a windowed approach

size_groups = np.empty(shape=(73,1))
ages = np.empty(shape=(73,1))
mean_groups = np.empty(shape=(73,len(combat_thickness.columns[1:71])))
std_groups = np.empty(shape=(73,len(combat_thickness.columns[1:71])))
prop_hcpaging= np.empty(shape=(73,1))
prop_hcpya= np.empty(shape=(73,1))
size_nonwindow= np.empty(shape=(73,1))

counter=0
for age in range(21+1,93+2):
    print(age-1)
    print(age+1)
    print('age:')
    print('new')
    subset=combat_thickness[(combat_thickness['age'] >= age-1) & (combat_thickness['age'] <= age+1)]
    print(subset['age'])
    size_groups[counter]=subset.shape[0]
    mean_groups[counter,:]=np.mean(subset.iloc[:,1:71],axis=0)
    std_groups[counter,:]=np.std(subset.iloc[:,1:71],axis=0)
    prop_hcpaging[counter,:]=np.sum(subset['dataset']=='HCP_AGING')
    prop_hcpya[counter,:]=np.sum(subset['dataset']=='HCP_YA')
    size_nonwindow[counter,:]=np.sum((np.round(combat_thickness['age']) == age))

    ages[counter]=age
    counter=counter+1

21
23
age:
new
730     22.0
737     23.0
757     22.0
760     22.0
762     22.0
        ...
1688    22.0
1696    23.0
1704    23.0
1706    22.0
1715    22.0
Name: age, Length: 109, dtype: float64
22
24
age:
new
730     22.0
733     24.0
737     23.0
757     22.0
760     22.0
        ...
1696    23.0
1704    23.0
1706    22.0
1712    24.0
1715    22.0
Name: age, Length: 155, dtype: float64
23
25
age:
new
733     24.0
737     23.0
740     25.0
743     25.0
759     25.0
        ...
1651    25.0
1687    25.0
1696    23.0
1704    23.0
1712    24.0
Name: age, Length: 167, dtype: float64
24
26
age:
new
733     24.0
735     26.0
738     26.0
740     25.0
743     25.0
        ...
1661    26.0
1668    26.0
1687    25.0
1701    26.0
1712    24.0
Name: age, Length: 190, dtype: float64
25
27
age:
new
725     27.0
726     27.0
728     27.0
734     27.0
735     26.0
        ...
1693    27.0
1697    27.0
1701    26.0
1707    27.0
1713    27.0
Name: age, Length: 244, dtype: float64
26
28
age:
new
725     27.0
726     27.0
728     27.0
734     27.0
735     26.0
        ...
1707    27.0
1710    28.0
1711    28.0
1713    27.0
1721    28.0
Name: age, Length: 262, dtype: float64
27
29
age:
new
725     27.0
726     27.0
728     27.0
731     29.0
734     27.0
        ...
1710    28.0
1711    28.0
1713    27.0
1719    29.0
1721    28.0
Name: age, Length: 260, dtype: float64
28
30
age:
new
731     29.0
736     30.0
739     30.0
741     30.0
744     28.0
        ...
1711    28.0
1716    30.0
1719    29.0
1720    30.0
1721    28.0
Name: age, Length: 247, dtype: float64
29
31
age:
new
731     29.0
736     30.0
739     30.0
741     30.0
747     31.0
        ...
1694    30.0
1699    29.0
1716    30.0
1719    29.0
1720    30.0
Name: age, Length: 246, dtype: float64
30
32
age:
new
736     30.0
739     30.0
741     30.0
745     32.0
747     31.0
        ...
1702    32.0
1703    32.0
1705    32.0
1716    30.0
1720    30.0
Name: age, Length: 252, dtype: float64
31
33
age:
new
727     33.0
745     32.0
747     31.0
750     31.0
753     33.0
        ...
1702    32.0
1703    32.0
1705    32.0
1714    33.0
1717    33.0
Name: age, Length: 243, dtype: float64
32
34
age:
new
727     33.0
742     34.0
745     32.0
752     34.0
753     33.0
        ...
1705    32.0
1708    34.0
1709    34.0
1714    33.0
1717    33.0
Name: age, Length: 217, dtype: float64
33
35
age:
new
727     33.0
729     35.0
732     35.0
742     34.0
752     34.0
        ...
1708    34.0
1709    34.0
1714    33.0
1717    33.0
1718    35.0
Name: age, Length: 177, dtype: float64
34
36
age:
new
639     36.0
729     35.0
732     35.0
742     34.0
748     36.0
        ...
1679    34.0
1682    35.0
1708    34.0
1709    34.0
1718    35.0
Name: age, Length: 108, dtype: float64
35
37
age:
new
42      36.333
129     36.167
146     36.250
181     36.083
255     36.417
         ...
1672    36.000
1673    35.000
1674    36.000
1682    35.000
1718    35.000
Name: age, Length: 74, dtype: float64
36
38
age:
new
42      36.333
54      37.667
64      37.083
128     37.583
129     36.167
146     36.250
178     37.083
181     36.083
183     37.583
190     37.500
255     36.417
256     36.583
264     36.250
270     36.750
278     36.750
328     36.500
345     37.417
383     37.167
403     37.917
412     37.167
435     37.750
442     37.667
448     36.250
452     36.583
459     36.333
471     37.250
488     38.000
505     38.000
515     36.500
541     36.583
623     36.667
639     36.000
675     38.000
682     36.833
688     36.500
704     37.500
748     36.000
908     36.000
988     36.000
1090    36.000
1214    36.000
1576    36.000
1598    37.000
1672    36.000
1674    36.000
Name: age, dtype: float64
37
39
age:
new
4       38.167
10      38.500
14      38.500
22      38.083
24      39.000
36      39.000
54      37.667
64      37.083
116     38.333
128     37.583
178     37.083
183     37.583
190     37.500
200     38.667
222     38.417
262     38.250
290     38.333
321     38.833
345     37.417
369     38.500
383     37.167
398     38.500
403     37.917
412     37.167
435     37.750
442     37.667
471     37.250
488     38.000
505     38.000
543     39.000
584     38.167
606     39.000
629     38.250
675     38.000
704     37.500
717     38.250
1598    37.000
Name: age, dtype: float64
38
40
age:
new
4      38.167
10     38.500
14     38.500
22     38.083
24     39.000
36     39.000
116    38.333
119    40.000
149    39.333
200    38.667
222    38.417
240    39.750
262    38.250
290    38.333
321    38.833
369    38.500
370    40.000
379    39.417
398    38.500
470    39.583
477    40.000
488    38.000
505    38.000
538    39.417
543    39.000
556    39.750
567    39.167
584    38.167
604    39.250
606    39.000
613    39.667
620    39.083
629    38.250
675    38.000
717    38.250
722    39.083
Name: age, dtype: float64
39
41
age:
new
21     40.583
24     39.000
36     39.000
62     40.333
67     40.333
99     40.833
119    40.000
123    40.583
141    40.500
149    39.333
224    40.833
240    39.750
275    40.750
295    40.667
301    40.750
348    41.000
353    40.250
368    40.500
370    40.000
379    39.417
428    40.917
430    40.583
470    39.583
475    40.750
477    40.000
487    40.583
534    41.000
538    39.417
543    39.000
556    39.750
567    39.167
604    39.250
606    39.000
613    39.667
620    39.083
667    40.833
695    40.583
722    39.083
Name: age, dtype: float64
40
42
age:
new
21     40.583
26     41.583
45     41.750
56     41.250
58     41.250
62     40.333
67     40.333
88     41.333
99     40.833
114    41.167
119    40.000
123    40.583
134    41.917
141    40.500
210    41.417
224    40.833
234    41.417
242    41.417
275    40.750
284    41.583
287    41.583
295    40.667
301    40.750
335    41.167
341    41.917
344    41.583
348    41.000
353    40.250
368    40.500
370    40.000
377    41.417
382    41.667
400    42.000
428    40.917
430    40.583
465    41.583
475    40.750
477    40.000
487    40.583
534    41.000
539    41.500
553    41.667
616    41.417
662    41.500
667    40.833
695    40.583
Name: age, dtype: float64
41
43
age:
new
15     42.583
26     41.583
29     42.417
45     41.750
56     41.250
58     41.250
84     42.500
88     41.333
114    41.167
134    41.917
142    42.833
156    42.750
203    42.833
210    41.417
234    41.417
242    41.417
271    43.000
284    41.583
287    41.583
335    41.167
341    41.917
344    41.583
348    41.000
358    42.750
377    41.417
382    41.667
400    42.000
406    43.000
410    42.583
416    42.750
465    41.583
534    41.000
539    41.500
553    41.667
563    42.083
596    42.750
616    41.417
662    41.500
Name: age, dtype: float64
42
44
age:
new
5      43.167
11     43.083
15     42.583
29     42.417
84     42.500
97     44.000
120    43.917
142    42.833
150    43.750
156    42.750
203    42.833
271    43.000
329    43.667
358    42.750
400    42.000
406    43.000
410    42.583
416    42.750
456    43.333
457    43.333
563    42.083
578    43.500
596    42.750
644    43.083
701    43.750
Name: age, dtype: float64
43
45
age:
new
5      43.167
11     43.083
97     44.000
120    43.917
126    44.250
150    43.750
249    44.167
271    43.000
324    44.333
329    43.667
386    44.167
396    44.500
406    43.000
437    44.500
456    43.333
457    43.333
532    44.750
578    43.500
583    44.333
592    44.250
644    43.083
652    44.333
680    44.917
697    44.083
701    43.750
Name: age, dtype: float64
44
46
age:
new
37     45.833
60     45.750
97     44.000
126    44.250
198    45.167
214    45.333
249    44.167
306    45.833
324    44.333
340    45.917
386    44.167
396    44.500
437    44.500
486    45.750
491    45.500
532    44.750
570    45.750
583    44.333
592    44.250
594    45.583
646    45.333
652    44.333
663    45.167
680    44.917
697    44.083
705    45.917
Name: age, dtype: float64
45
47
age:
new
17     46.833
37     45.833
60     45.750
71     46.917
75     46.750
171    47.000
198    45.167
214    45.333
280    47.000
306    45.833
320    46.583
340    45.917
408    46.583
433    46.667
479    46.917
486    45.750
491    45.500
545    47.000
570    45.750
589    46.500
594    45.583
595    46.833
605    46.167
607    46.167
621    46.917
646    45.333
663    45.167
696    46.417
705    45.917
712    46.500
Name: age, dtype: float64
46
48
age:
new
17     46.833
34     47.167
46     47.750
53     47.417
63     47.917
71     46.917
75     46.750
92     47.167
102    47.083
106    47.250
118    47.417
138    47.667
155    47.667
171    47.000
197    47.750
201    47.167
227    47.333
248    47.917
259    47.250
280    47.000
320    46.583
380    47.750
408    46.583
431    47.833
433    46.667
438    47.083
447    47.917
479    46.917
536    47.250
545    47.000
589    46.500
595    46.833
605    46.167
607    46.167
621    46.917
642    47.750
658    47.667
696    46.417
712    46.500
Name: age, dtype: float64
47
49
age:
new
34     47.167
44     48.750
46     47.750
53     47.417
63     47.917
76     48.417
91     48.750
92     47.167
102    47.083
106    47.250
118    47.417
138    47.667
140    48.750
155    47.667
171    47.000
176    48.583
189    48.917
197    47.750
201    47.167
227    47.333
248    47.917
259    47.250
260    48.333
280    47.000
314    48.167
380    47.750
431    47.833
438    47.083
447    47.917
493    48.250
536    47.250
545    47.000
642    47.750
658    47.667
720    48.083
Name: age, dtype: float64
48
50
age:
new
3      49.083
32     49.417
44     48.750
76     48.417
91     48.750
124    49.917
140    48.750
145    49.750
176    48.583
180    49.417
189    48.917
212    49.583
260    48.333
285    49.333
314    48.167
355    49.333
357    49.083
378    49.833
391    49.667
423    49.417
493    48.250
494    49.750
497    49.917
509    49.167
533    49.083
611    49.500
691    49.833
694    49.083
699    49.833
720    48.083
Name: age, dtype: float64
49
51
age:
new
0      50.750
3      49.083
32     49.417
124    49.917
133    50.583
145    49.750
168    50.333
180    49.417
186    50.083
212    49.583
285    49.333
355    49.333
357    49.083
378    49.833
391    49.667
423    49.417
494    49.750
497    49.917
509    49.167
533    49.083
611    49.500
691    49.833
694    49.083
699    49.833
707    50.917
Name: age, dtype: float64
50
52
age:
new
0      50.750
133    50.583
152    51.750
154    51.750
168    50.333
177    51.083
186    50.083
209    51.250
231    52.000
265    51.333
296    51.083
392    51.833
399    51.833
417    51.667
484    51.750
506    51.583
535    51.667
557    51.500
707    50.917
709    51.917
Name: age, dtype: float64
51
53
age:
new
113    53.000
152    51.750
154    51.750
173    52.833
177    51.083
194    52.250
209    51.250
216    52.250
231    52.000
265    51.333
291    52.667
296    51.083
300    52.167
352    52.583
384    52.333
392    51.833
395    53.000
399    51.833
417    51.667
472    52.917
484    51.750
502    52.750
506    51.583
519    53.000
524    52.500
531    53.000
535    51.667
557    51.500
602    52.250
625    52.333
638    52.917
649    53.000
709    51.917
Name: age, dtype: float64
52
54
age:
new
57     53.750
90     53.417
113    53.000
173    52.833
175    53.750
192    53.333
194    52.250
199    53.750
206    53.417
208    53.917
216    52.250
217    53.250
223    53.333
231    52.000
257    53.167
291    52.667
300    52.167
349    53.500
352    52.583
384    52.333
390    53.167
395    53.000
421    53.333
445    53.667
469    53.083
472    52.917
502    52.750
519    53.000
524    52.500
526    53.917
528    53.500
531    53.000
602    52.250
612    53.083
625    52.333
638    52.917
649    53.000
655    53.333
656    53.750
683    53.333
708    54.000
710    53.667
Name: age, dtype: float64
53
55
age:
new
52     54.333
57     53.750
90     53.417
94     54.417
113    53.000
167    54.250
175    53.750
192    53.333
199    53.750
206    53.417
208    53.917
217    53.250
223    53.333
246    54.500
257    53.167
292    54.583
308    54.250
312    54.083
326    54.917
349    53.500
361    54.833
375    54.750
390    53.167
395    53.000
421    53.333
445    53.667
469    53.083
519    53.000
526    53.917
528    53.500
531    53.000
591    54.167
608    54.667
612    53.083
649    53.000
655    53.333
656    53.750
679    54.917
683    53.333
687    54.333
708    54.000
710    53.667
Name: age, dtype: float64
54
56
age:
new
52     54.333
73     55.917
94     54.417
115    55.417
121    55.750
167    54.250
226    55.250
246    54.500
252    55.750
288    55.417
292    54.583
308    54.250
312    54.083
326    54.917
327    55.583
347    55.500
361    54.833
364    55.417
375    54.750
424    55.917
427    55.833
576    56.000
591    54.167
608    54.667
614    55.500
645    55.250
650    55.500
654    55.917
669    55.417
679    54.917
687    54.333
692    55.667
703    55.417
708    54.000
715    55.333
Name: age, dtype: float64
55
57
age:
new
30     56.500
41     56.667
73     55.917
104    56.583
115    55.417
121    55.750
127    56.417
135    56.250
151    56.167
162    56.333
226    55.250
252    55.750
288    55.417
327    55.583
347    55.500
354    56.833
362    56.417
364    55.417
373    56.917
424    55.917
427    55.833
458    56.750
466    56.417
473    56.833
576    56.000
614    55.500
645    55.250
650    55.500
654    55.917
657    56.750
665    56.583
669    55.417
692    55.667
693    56.333
703    55.417
715    55.333
719    56.583
Name: age, dtype: float64
56
58
age:
new
30     56.500
41     56.667
103    57.750
104    56.583
127    56.417
135    56.250
151    56.167
162    56.333
188    57.917
243    57.250
263    57.833
269    57.333
274    57.417
304    57.917
338    58.000
354    56.833
362    56.417
373    56.917
443    57.750
458    56.750
466    56.417
473    56.833
521    57.417
575    57.833
576    56.000
603    57.083
622    57.083
647    57.083
657    56.750
665    56.583
693    56.333
719    56.583
Name: age, dtype: float64
57
59
age:
new
103    57.750
163    58.667
179    58.833
185    58.167
188    57.917
213    58.167
235    58.500
243    57.250
263    57.833
269    57.333
274    57.417
304    57.917
305    58.250
309    58.833
338    58.000
420    58.667
443    57.750
449    58.500
490    58.750
521    57.417
547    58.250
575    57.833
590    58.833
603    57.083
622    57.083
637    58.500
647    57.083
671    58.333
681    58.667
718    58.083
723    58.417
Name: age, dtype: float64
58
60
age:
new
6      59.333
48     60.000
153    59.917
163    58.667
179    58.833
185    58.167
196    60.000
213    58.167
235    58.500
247    59.667
289    59.500
305    58.250
309    58.833
315    59.083
338    58.000
376    59.167
420    58.667
449    58.500
460    59.333
490    58.750
508    59.333
547    58.250
559    59.333
590    58.833
617    59.333
618    59.333
637    58.500
671    58.333
681    58.667
718    58.083
723    58.417
Name: age, dtype: float64
59
61
age:
new
1      60.417
6      59.333
19     60.667
23     60.750
48     60.000
49     60.667
61     60.833
72     60.500
153    59.917
160    60.417
196    60.000
247    59.667
289    59.500
315    59.083
330    60.417
337    60.917
359    60.583
363    60.667
376    59.167
429    60.833
450    60.667
460    59.333
482    61.000
508    59.333
548    60.500
559    59.333
587    60.417
617    59.333
618    59.333
670    60.083
700    60.917
Name: age, dtype: float64
60
62
age:
new
1      60.417
19     60.667
23     60.750
39     61.500
48     60.000
49     60.667
61     60.833
72     60.500
96     61.583
160    60.417
196    60.000
219    61.167
244    61.667
273    61.667
318    61.333
330    60.417
337    60.917
359    60.583
363    60.667
429    60.833
439    61.083
446    61.583
450    60.667
463    61.833
482    61.000
496    61.250
499    61.833
548    60.500
587    60.417
670    60.083
672    61.500
700    60.917
Name: age, dtype: float64
61
63
age:
new
9      62.083
31     62.333
39     61.500
96     61.583
219    61.167
244    61.667
273    61.667
302    62.833
318    61.333
351    62.167
374    62.500
426    62.333
439    61.083
446    61.583
463    61.833
482    61.000
496    61.250
499    61.833
500    62.417
503    62.417
527    62.583
544    62.833
672    61.500
Name: age, dtype: float64
62
64
age:
new
9      62.083
31     62.333
85     63.667
89     63.167
238    63.333
302    62.833
351    62.167
367    63.917
374    62.500
426    62.333
434    63.750
455    63.333
500    62.417
503    62.417
527    62.583
544    62.833
562    64.000
569    63.417
Name: age, dtype: float64
63
65
age:
new
85     63.667
89     63.167
131    64.417
187    64.667
205    64.583
233    64.750
238    63.333
282    64.167
325    64.917
367    63.917
432    64.750
434    63.750
454    65.000
455    63.333
489    64.917
501    64.667
517    64.833
562    64.000
569    63.417
661    64.833
666    64.083
Name: age, dtype: float64
64
66
age:
new
7      65.833
66     65.833
110    65.583
131    64.417
187    64.667
205    64.583
207    65.833
220    65.333
233    64.750
250    66.000
268    65.667
282    64.167
303    65.750
325    64.917
372    66.000
394    65.333
404    65.500
414    65.750
432    64.750
454    65.000
481    65.500
489    64.917
501    64.667
507    65.083
517    64.833
552    66.000
555    65.750
562    64.000
577    65.833
660    65.167
661    64.833
666    64.083
684    65.417
Name: age, dtype: float64
65
67
age:
new
7      65.833
66     65.833
83     66.583
105    66.583
110    65.583
111    66.833
169    66.833
207    65.833
220    65.333
250    66.000
268    65.667
303    65.750
372    66.000
394    65.333
404    65.500
414    65.750
454    65.000
481    65.500
507    65.083
542    66.500
552    66.000
555    65.750
564    66.917
565    66.917
577    65.833
634    66.250
635    66.333
660    65.167
684    65.417
689    66.333
721    66.833
Name: age, dtype: float64
66
68
age:
new
50     67.250
83     66.583
105    66.583
111    66.833
169    66.833
250    66.000
298    67.167
372    66.000
485    67.833
498    67.417
510    67.917
542    66.500
552    66.000
564    66.917
565    66.917
610    67.750
631    67.083
634    66.250
635    66.333
689    66.333
690    67.917
721    66.833
Name: age, dtype: float64
67
69
age:
new
50     67.250
148    68.833
195    68.167
251    68.750
298    67.167
317    68.500
371    68.083
436    69.000
485    67.833
498    67.417
510    67.917
554    68.250
561    69.000
593    68.333
600    68.167
610    67.750
627    68.917
631    67.083
690    67.917
Name: age, dtype: float64
68
70
age:
new
148    68.833
195    68.167
218    70.000
229    69.083
251    68.750
283    69.750
317    68.500
336    69.083
371    68.083
436    69.000
480    69.500
512    69.250
520    69.667
554    68.250
561    69.000
588    69.333
593    68.333
600    68.167
627    68.917
636    69.750
648    69.083
702    69.667
Name: age, dtype: float64
69
71
age:
new
40     70.833
81     70.917
82     71.000
100    70.750
117    70.833
157    71.000
165    70.667
218    70.000
229    69.083
239    70.417
253    70.833
283    69.750
336    69.083
342    70.500
365    70.417
385    70.750
393    70.417
409    70.250
436    69.000
476    70.333
480    69.500
512    69.250
520    69.667
540    70.917
561    69.000
579    70.667
588    69.333
601    70.833
628    70.083
636    69.750
648    69.083
702    69.667
Name: age, dtype: float64
70
72
age:
new
40     70.833
74     71.500
81     70.917
82     71.000
100    70.750
117    70.833
157    71.000
158    71.167
161    71.250
165    70.667
191    71.500
218    70.000
239    70.417
253    70.833
276    71.833
316    71.333
332    71.250
342    70.500
365    70.417
385    70.750
393    70.417
409    70.250
464    71.917
476    70.333
514    71.083
537    71.083
540    70.917
574    71.500
579    70.667
597    71.917
601    70.833
626    71.917
628    70.083
Name: age, dtype: float64
71
73
age:
new
18     72.667
28     72.417
74     71.500
82     71.000
157    71.000
158    71.167
161    71.250
191    71.500
228    72.500
276    71.833
316    71.333
332    71.250

In [211]:
cols = combat_thickness.columns[1:71]
meancols = [col+'_mean' for col in cols]
stdcols = [col+'_std' for col in cols]

colnames_means = ['age', 'size', 'prop_aging', 'prop_ya', 'sizenowindow'] + meancols 
colnames_stds = ['age', 'size', 'prop_aging', 'prop_ya','sizenowindow'] + stdcols

In [212]:
tmp_m= np.concatenate([ages,size_groups,prop_hcpaging, prop_hcpya,size_nonwindow, mean_groups],axis=1)
tmp_s= np.concatenate([ages,size_groups,prop_hcpaging, prop_hcpya, size_nonwindow,std_groups],axis=1)

meantable = pd.DataFrame(data=tmp_m, columns=colnames_means)
stdtable = pd.DataFrame(data=tmp_s, columns=colnames_stds)

In [ ]:
enigma_combat_thickness =  pd.read_table('/Users/emilyolafson/GIT/ENIGMA/data/FREESURFER_ENIGMA/enigma_thickness_datasetvar_COMBAT.csv', header=0, sep=',')

In [219]:
fig, axs = plt.subplots(ncols=5, nrows=7,figsize=(25,35))
counter =0
rowcount=0
# left hem

for i in range(5,40):
    yvar= meantable.columns[i]
    y_std = stdtable.iloc[:,i]
    sns.lineplot(x='age', y=yvar, data=meantable, ax=axs[rowcount,counter%5],palette="hls")
    axs[rowcount,counter%5].fill_between(meantable['age'], meantable[yvar] - y_std,  meantable[yvar] + y_std, color='b', alpha=0.2)
    axs[rowcount,counter%5].scatter(x=enigma_combat_thickness['age'], y=enigma_combat_thickness.iloc[:,i-4],s=1,color='#ba2c4a')

    axs[rowcount,counter%5].set_ylim([1.2, 5])
    axs[rowcount,counter%5].set_ylim([1.2, 5])
    axs[rowcount,counter%5].tick_params(axis='x', labelsize=10)
    axs[rowcount,counter%5].tick_params(axis='y', labelsize=10)
    axs[rowcount,counter%5].legend(['ComBat-adjusted HCP mean',' +/- 1 standard deviation','ComBat-Adjusted ENIGMA'])

   # axs[rowcount,counter%5].get_legend().remove()
    counter = counter +1
    if (counter%5 ==0) & (counter!=0):
        rowcount = rowcount+1

plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/lefthem_CT_hcp_YA_AGING_meanstd.jpeg',bbox_inches='tight')
plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/lefthem_CT_hcp_YA_AGING_meanstd.pdf',bbox_inches='tight')

In [218]:
fig, axs = plt.subplots(ncols=5, nrows=7,figsize=(25,35))
counter =0
rowcount=0
# left hem

for i in range(40,75):
    yvar= meantable.columns[i]
    y_std = stdtable.iloc[:,i]
    sns.lineplot(x='age', y=yvar, data=meantable, ax=axs[rowcount,counter%5],palette="hls")
    axs[rowcount,counter%5].fill_between(meantable['age'], meantable[yvar] - y_std,  meantable[yvar] + y_std, color='b', alpha=0.2)
    axs[rowcount,counter%5].scatter(x=enigma_combat_thickness['age'], y=enigma_combat_thickness.iloc[:,i-4],s=1,color='#ba2c4a')

    axs[rowcount,counter%5].set_ylim([1.2, 5])
    axs[rowcount,counter%5].set_ylim([1.2, 5])
    axs[rowcount,counter%5].tick_params(axis='x', labelsize=10)
    axs[rowcount,counter%5].tick_params(axis='y', labelsize=10)
    axs[rowcount,counter%5].legend(['ComBat-adjusted HCP mean',' +/- 1 standard deviation','ComBat-Adjusted ENIGMA'])

   # axs[rowcount,counter%5].get_legend().remove()
   # axs[rowcount,counter%5].legend(fontsize=8)
    counter = counter +1
    if (counter%5 ==0) & (counter!=0):
        rowcount = rowcount+1

plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/righthem_CT_hcp_YA_AGING_meanstd.jpeg',bbox_inches='tight')
plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/righthem_CT_hcp_YA_AGING_meanstd.pdf',bbox_inches='tight')

In [149]:
plt.figure(figsize=(8,4))

plt.plot(meantable['age'], meantable['sizenowindow'],'-o',color='#6b337b')
plt.xlabel('Age')
plt.ylabel('Number of subjects')
plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/age_hcp_sizes.pdf')


plt.figure(figsize=(8,4))

plt.plot(meantable['age'], meantable['sizenowindow'],'-o',color='#6b337b')
plt.plot(meantable['age'], meantable['prop_aging'],'-o',color='#e42021')
plt.plot(meantable['age'], meantable['prop_ya'],'-o',color='#397eb8')

plt.ylim(0,100)
plt.xlabel('Age')
plt.ylabel('Number of subjects')
plt.legend(['All HCP - No windowing', 'HCP Aging - 3-Year Windowing','HCP Young Adult - 3-Year Windowing'])
plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/age_hcp_sizes_hcpaging.pdf',bbox_inches='tight')

In [150]:
plt.figure(figsize=(8,4))
plt.plot(np.int8(meantable['age']), meantable['prop_aging'],'-o',color='#e42021')
plt.plot(np.int8(meantable['age']), meantable['prop_ya'],'-o',color='#397eb8')
plt.hist(enigma_combat_thickness['age'], bins=range(20, 100, 3),color='#cfc428',alpha=0.5)
plt.xlabel('Age')
plt.ylabel('Number of subjects in 3-year window')
plt.legend(['HCP Aging', 'HCP Young Adult', 'ENIGMA subjects age'])
plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/age_windows_sizes.pdf',bbox_inches='tight')

In [193]:
i=69
yvar= meantable.columns[i]

print(yvar)
enigma_combat_thickness.iloc[:,i-4]

rh_supramarginal_thickness_mean

KeyError: 65

In [205]:
fig, axs = plt.subplots(ncols=2, nrows=1,figsize=(10,5))

i=34
yvar= meantable.columns[i]
y_std = stdtable.iloc[:,i]
sns.lineplot(x='age', y=yvar, data=meantable, ax=axs[0],palette="hls")
axs[0].fill_between(meantable['age'], meantable[yvar] - y_std,  meantable[yvar] + y_std, color='b', alpha=0.2)

axs[0].scatter(x=enigma_combat_thickness['age'], y=enigma_combat_thickness.iloc[:,i-4],s=1,color='#ba2c4a')
axs[0].set_ylim([1.8, 4])
axs[0].set_ylim([1.8, 4])
axs[0].tick_params(axis='x', labelsize=10)
axs[0].tick_params(axis='y', labelsize=10)
axs[0].legend(['ComBat-adjusted HCP mean',' +/- 1 standard deviation','ComBat-Adjusted ENIGMA'])

i=52
sns.lineplot(x='age', y=yvar, data=meantable, ax=axs[1],palette="hls")
axs[1].fill_between(meantable['age'], meantable[yvar] - y_std,  meantable[yvar] + y_std, color='b', alpha=0.2)

axs[1].scatter(x=enigma_combat_thickness['age'], y=enigma_combat_thickness.iloc[:,i-4],s=1,color='#ba2c4a')
axs[1].set_ylim([1.8, 4])
axs[1].set_ylim([1.8, 4])
axs[1].tick_params(axis='x', labelsize=10)
axs[1].tick_params(axis='y', labelsize=10)
axs[1].legend(['ComBat-adjusted HCP mean',' +/- 1 standard deviation','ComBat-Adjusted ENIGMA'])

# axs[rowcount,counter%5].get_legend().remove()
# axs[rowcount,counter%5].legend(fontsize=8)
counter = counter +1
if (counter%5 ==0) & (counter!=0):
    rowcount = rowcount+1

plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/regions_meanstd_smooth.jpeg')
plt.savefig('/Users/emilyolafson/GIT/ENIGMA/enigma_disconnections/cortical_atrophy/figures/regions_meanstd_smooth.pdf')

In [161]:

i=34
yvar= meantable.columns[i]

In [41]:
i=1

agesub = np.int16(np.round(enigma_combat_thickness.iloc[i,71])) # 71 = age
print(agesub)
meantable[meantable['age']==agesub]

67

,age,size,lh_bankssts_thickness_mean,lh_caudalanteriorcingulate_thickness_mean,lh_caudalmiddlefrontal_thickness_mean,lh_cuneus_thickness_mean,lh_entorhinal_thickness_mean,lh_fusiform_thickness_mean,lh_inferiorparietal_thickness_mean,lh_inferiortemporal_thickness_mean,...,rh_rostralmiddlefrontal_thickness_mean,rh_superiorfrontal_thickness_mean,rh_superiorparietal_thickness_mean,rh_superiortemporal_thickness_mean,rh_supramarginal_thickness_mean,rh_frontalpole_thickness_mean,rh_temporalpole_thickness_mean,rh_transversetemporal_thickness_mean,rh_insula_thickness_mean,rh_MeanThickness_thickness_mean
45,67.0,19.0,2.432845,2.238085,2.456671,1.999648,3.172718,2.782931,2.382078,2.777956,...,2.321832,2.562519,2.1055,2.645618,2.431626,2.650069,3.582188,2.432889,2.895826,2.429023

In [34]:
enigma_combat_thickness.iloc[i,71]

67.0

In [36]:
meantable

,age,size,lh_bankssts_thickness_mean,lh_caudalanteriorcingulate_thickness_mean,lh_caudalmiddlefrontal_thickness_mean,lh_cuneus_thickness_mean,lh_entorhinal_thickness_mean,lh_fusiform_thickness_mean,lh_inferiorparietal_thickness_mean,lh_inferiortemporal_thickness_mean,...,rh_rostralmiddlefrontal_thickness_mean,rh_superiorfrontal_thickness_mean,rh_superiorparietal_thickness_mean,rh_superiortemporal_thickness_mean,rh_supramarginal_thickness_mean,rh_frontalpole_thickness_mean,rh_temporalpole_thickness_mean,rh_transversetemporal_thickness_mean,rh_insula_thickness_mean,rh_MeanThickness_thickness_mean
0,22.0,50.0,2.794931,2.774843,2.876617,2.170731,3.464525,3.002507,2.729418,3.016692,...,2.677975,3.016719,2.412297,3.046544,2.796278,2.971959,3.861943,2.791405,3.274090,2.752288
1,23.0,59.0,2.770126,2.736426,2.819791,2.164970,3.384116,2.958965,2.682144,2.975150,...,2.621950,2.942553,2.349188,3.020811,2.775191,2.890763,3.716307,2.776147,3.224596,2.713099
2,24.0,46.0,2.794871,2.727646,2.837124,2.172465,3.516195,2.973983,2.681262,2.982604,...,2.630147,2.937377,2.351278,3.030284,2.786372,2.873595,3.872865,2.779575,3.207415,2.715469
3,25.0,62.0,2.705372,2.699006,2.812298,2.150528,3.413748,2.938223,2.660798,2.956189,...,2.611781,2.935615,2.360682,3.008813,2.745861,2.836115,3.773281,2.727407,3.183564,2.698040
4,26.0,82.0,2.788885,2.763515,2.822806,2.191914,3.459325,2.989528,2.684422,3.008475,...,2.626663,2.953129,2.372628,3.039457,2.781493,2.894130,3.885740,2.811640,3.214372,2.722148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,90.0,5.0,2.116721,2.077955,2.278562,1.760214,2.815604,2.517446,2.062583,2.600215,...,2.185201,2.403891,1.819656,2.403279,2.173573,2.579142,3.410370,2.176878,2.626140,2.194364
69,91.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,92.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,93.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,94.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN